body{
    background: #c4f11d;
    font-family: roboto;
    text-align: center;
    }
    h1,h2{
    color: #fff;
    }
    .ketengah{
    margin: 10px auto;
    width: 1150px;
    }
    .kotak1{
    background: #09db59;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    15
    height: 150px;
    }
    .kotak2{
    background: #be1212;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    -ms-transform: rotate(30deg); /* Support IE 9 */
     -webkit-transform: rotate(30deg); /* support Safari */
     transform: rotate(30deg); /* Standard syntax */
    }
    .kotak3{
    background: #2813ee;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    -ms-transform: rotate(90deg); /* Support IE 9 */
     -webkit-transform: rotate(90deg); /* support Safari */
     transform: rotate(90deg); /* Standard syntax */
    }
    .kotak4{
    background: #ec10cf;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    -ms-transform: rotate(-60deg); /* Support IE 9 */
     -webkit-transform: rotate(-60deg); /* support Safari */
     transform: rotate(-60deg); /* Standard syntax */
    }